.gallery {
    margin: 32px 0 24px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__title {
        font-family: AvenirBold;
        margin: 0 0 24px 5%;
    }
    &__images {
        margin: 8px 16px;
        width: 90%;
    }
}

@include medium {
    .gallery__images {
        // box-sizing: content-box;
        width: 29%;
        justify-content: space-evenly;
        margin: 12px 1.563%;
        height: 126px;
    }
    .gallery__title {
        margin-left:3.125%;
        // display: block;
    }
}