@font-face {
    font-family: AvenirUltThin;
    font-style: normal;
    font-weight: 100;
    src: url('../../Assets/Font/AvenirNextProLT/Avenir-UltLt.otf')
}
@font-face {
    font-family: AvenirThin;
    font-style: normal;
    font-weight: 200;
    src: url('../../Assets/Font/AvenirNextProLT/Avenir-Thin.otf')
}
@font-face {
    font-family: AvenirLight;
    font-style: normal;
    font-weight: 300;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-Light.otf")
}
@font-face {
    font-family: AvenirRegualr;
    font-style: normal;
    font-weight: 400;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-Regular.otf");
}
@font-face {
    font-family: AvenirMedium;
    font-style: normal;
    font-weight: 500;
    src: url('../../Assets/Font/AvenirNextProLT/Avenir-Medium.otf')
}
@font-face {
    font-family: AvenirSemi;
    font-style: normal;
    font-weight: 600;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-Demi.otf");
}
@font-face {
    font-family: AvenirBold;
    font-style: normal;
    font-weight: 700;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-Bold.otf");
}
@font-face {
    font-family: AvenirHeavy;
    font-style: normal;
    font-weight: 800;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-Heavy.otf")
}




@font-face {
    font-family: AvenirUltThinitalic;
    font-style: italic;
    font-weight: 100;
    src: url('../../Assets/Font/AvenirNextProLT/Avenir-UltLtIt.otf')
}
@font-face {
    font-family: AvenirThinitalic;
    font-style: italic;
    font-weight: 200;
    src: url('../../Assets/Font/AvenirNextProLT/Avenir-Thin.otf')
}
@font-face {
    font-family: AvenirLightItalic;
    font-style: italic;
    font-weight: 300;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-LightIt.otf")
}
@font-face {
    font-family: AvenirItalic;
    font-style: italic;
    font-weight: 400;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-It.otf")
}
@font-face {
    font-family: AvenirMediumItalic;
    font-style: italic;
    font-weight: 500;
    src: url('../../Assets/Font/AvenirNextProLT/Avenir-MediumIt.otf')
}
@font-face {
    font-family: AvenirSemiItalic;
    font-style: italic;
    font-weight: 600;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-DemiIt.otf");
}
@font-face {
    font-family: AvenirBoldItalic;
    font-style: italic;
    font-weight: 700;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-BoldIt.otf");
}
@font-face {
    font-family: AvenirHeavyItalic;
    font-style: italic;
    font-weight: 800;
    src: url("../../Assets/Font/AvenirNextProLT/Avenir-HeavyIt.otf")
}